@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

:root {
    --body-color: #0f0f0e;
    --white-color: #ffffff;
    --header_color: #e84b2c;
    --savanna-bg: #e9bf8b;
    --beach-bg: #e7dfcf;
    --header-bg: #1d1e20;
    --glacier-bg: #b6d6c8;
    --coral-bg: #e86357;
    --arrow-fill: #333231;
    --body-font: "Montserrat", sans-serif;
    --italic-font: "EB Garamond", serif;
}

* {
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--body-color);
}

h1,
h2,
h3 {
    margin: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--body-color);
}


.logo {
    width: 200px;
    position: absolute;
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid rgba(44, 45, 42, 0.25);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--header-bg);
    z-index: 6;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.header-menu a {
    color: var(--header_color);
}

.header-menu a:not(:first-child) {
    margin-left: 30px;
}

.header .menu-icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header .menu-icon svg {
    width: 22px;
}

.header-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}

.header-icons svg {
    width: 18px;
    margin-top: 15px;
    margin-right: 35px;
}

.header-icons svg:not(:last-child) {
    margin-right: 20px;
}


/*-----------------------------------------*/

:root {
    --altoEncabezado: 60px;
}

.lateral {
    position: fixed;
    height: 100%;
    width: 225px;
    background-color: var(--header-bg);
}

.lateral-menu {
    margin-top: 190px;
}

.menu-lista {
    list-style: none;
    padding-left: 0;
}

.item {
    border-top: 1px solid #4e4e4e;
}

.item:last-child {
    border-bottom: 1px solid #4e4e4e;
}

.item a {
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: var(--header-bg);
    font-family: sans-serif;
    padding: 1em 0 1em 1em;
    cursor: pointer;
}

.item a:hover {
    background-color: rgba(87, 87, 87, 0.62);
}

/*-----------------------------------------*/


#Grid, .itens, .placeholder {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.itens {
    margin-right: 19px;
}

#Grid {
    margin-bottom: 40px;
    text-align: justify;
    font-size: 0.1px;
    margin-left: 400px;
    margin-top: 20px;
}

#Grid li {
    display: inline-flex;
    background: #eee;
    width: 16%;
    height: 40%;
    margin: 3%;
    /*margin-bottom: 5%;*/
    /*margin-top: 7%;*/
    border: #3b4148;
    border-radius: 15%;
    align-content: center;
}

.imgProduto {
    margin: 5%;
    padding-top: 5px;
    height: 150px;
    width: 150px;
    align-self: center;
}

.price {
    background-color: #eee;
    font-size: 1.2rem;
    color: rgba(29, 30, 32);
    text-align: center;
    width: 35%;
    border-radius: 25%;
}

.nomeProduto {
    font-size: 1.2rem;
    text-align: center;
    color: rgba(29, 30, 32);
}

.aTagProduto {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: grid;
}

.navbarIcon {
    margin-top: 15px;
    margin-right: 20px;
    width: 25px;
}

.btnEditar {
    border: none;
    margin: 0 auto;
    height: 20px;
    padding: 0;
    cursor: pointer;
}
@keyframes modalAnim {
    0% {
        width: 0%;
        height: 0%;
        border-radius: 100%;
    }
    
    
    100% {
        width: 90%;
        height: 90%;
    }
    
}

.modal {
    animation: modalAnim 0.5s forwards;
    background-color: var(--header-bg);
    border: 1px solid var(--header_color);
    z-index: 25;
    position: fixed;
    margin-left: 5%;
    margin-top: 1.5%;
    transition: 5s;
    border-radius: 25px;
    overflow: hidden;
}


.modal div {
    width: 100%;
    height: 100%;
}

.PaginaAtual {
    display: flex;
    margin: 50%;
    color: var(--header_color);
}

.close {
    margin-top: 15px;
    margin-left: 15px;
    width: 15px;
}